---
import MainLayout from "../../layout/MainLayout.astro";
import SectionContainer from "../../components/SectionContainer.astro";
import { experiencie } from "../../data/experience.json";
---

<MainLayout title="Experience" desciption="My works">
  <SectionContainer>
    <section class="px-0 sm:px-20">
      <ol class="relative border-s border-gray-400">
        {
          experiencie.map(
            ({ position, startDate, endDate, summary, highlights }) => {
              return (
                <li class="mb-10 ms-4">
                  <div class="absolute w-3 h-3 bg-amber-700 mt-1.5 -start-1.5 border border-amber-700" />
                  <time class="mb-1 text-sm font-semibold leading-none text-gray-900">
                    {startDate} - {endDate}
                  </time>
                  <h3 class="text-lg font-bold text-amber-700">{position}</h3>
                  <p class="mb-4 text-base font-medium text-gray-800">
                    {summary}
                  </p>
                  <ul class="list-disc">
                    {highlights.map((hihghlight) => {
                      return (
                        <li class="ml-5 text-sm text-gray-700">{hihghlight}</li>
                      );
                    })}
                  </ul>
                </li>
              );
            }
          )
        }
      </ol>
    </section>
  </SectionContainer>
</MainLayout>
